.infographics-panel {
    padding: 70px;
    padding-top: 20px;
}

.infographics-panel .infographics .label {
    padding-top: 20px;
    font-size: 15px;
    color: #999;
}

.infographics-panel .infographics .value {
    font-size: 26px;
}

.infographics-panel .infographics .copyright {
    padding-top: 50px;
    color: #666;
    font-style: italic;
}