.surface.infographics > .nodes {
    height: 100%;
}

.surface.infographics > .nodes > .content-node {
    height: 100%;
}

.surface.infographics > .nodes > .content-node > .content {
    height: 100%;
    padding-top: 20px;
}

.surface.infographics > .nodes > .content-node > .content > .infographics-wrapper {
    height: 100%;
}

.surface.content > .nodes > .content-node > .content > .infographics-wrapper {
    height: 300px;
}
