/* Infographics Node
-------------------------------------------------------------------------------*/

.content-node.infographics { 
}
  
/* When displayed in resource panel */
.resources .nodes > .content-node.infographics .label {
  display: none;
}

.panel.content .nodes > .content-node.infographics .label {
  color: #777;
  padding-bottom: 10px;
}

/* Special styles when infographics is displayed in document flow */
.panel.content .nodes > .content-node.infographics > .content {
  padding: 15px;
  border: 1px solid #ddd;
}
/*
.content-node.infographics div.infographics-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-node.infographics div .infographics-wrapper img {
  width: 100%;
}
*/