.surface.content > .nodes > .content-node.videosummary > .content > .label {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

video {
     max-height: unset !important;
}

.vjs-playlist img {
    width: 40%;
    float: left;
}

.vjs-playlist-title-container {
	width: 100%;
}

.vjs-playlist-name {
	width: 100%;
	text-align: right;
}
