.lens-article .content-node.html-table .caption {
  text-align: center;
}

.lens-article .content-node.html-table table {
  border-style: solid;
}

.lens-article .content-node.html-table table caption {
  text-align: left;
}

.lens-article .content-node.html-table .footers .footer {
  line-height: 14px;
}

.lens-article .content-node.html-table .table-caption-label {
  padding-right: 16px;
}
