/* Related Article Node
-------------------------------------------------------------------------------*/

.related-articles-box {
    border: 1px solid #4f759c;
    background: #e3eaf1;
    padding: 0.6em 1em;
    border-radius: 5px;
}

.mobile .related-articles-box {
    margin-top: 10px;
}

.related-article .heading {
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.related-article .heading i {
    font-size: 0.9em;
}

.related-article + .related-article .heading {
    margin-top: 0.8em;
}

.related-article .article-info {
    font-size: 0.9em;
    margin-top: 0.3em;
}

.related-article .article-info > * {
    margin-top: 3px;
}

.related-article .article-info .article-title {
    font-weight: 700;
    font-size: 1.1em;
}

.related-article .article-info .article-title .subtitle {
    font-weight: 600;
    font-size: 0.9em;
}

.related-article .article-info .article-citations {
    display: flex;
    align-items: start;
}

.related-article a {
    text-decoration: none;
    color: blue;
}

.related-article .article-citations > img {
    margin-right: 3px;
    width: 24px;
}

.text-with-ellipsis {
	line-height: 25px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-with-ellipsis.one-line {
	max-height: 25px;
	-webkit-line-clamp: 1;
}
