/* Related Article Node
-------------------------------------------------------------------------------*/

.related-articles {
    border: 1px solid #4f759c;
    background: #e3eaf1;
    padding: 0.5em;
}

.related-articles .related-article + .related-article {
    margin-top: 0.5em;
}

.related-articles .article-type {
    padding: 0.3em 0em;
    font-size: 1.2em;
}

.related-articles .article-type span {
    background: #4472c4;
    padding: 0.2em 1.3em;
    color: white;
    border: 2px solid #3961a7;
}

.related-articles .article-info {
    font-size: 0.9em;
    padding-left: 0.8em;
}

.related-articles .article-info > * {
    margin-top: 3px;
    display: flex;
    align-items: start;
}

.related-articles a {
    text-decoration: none;
    color: blue;
}

.related-articles .article-citations > img {
    margin-right: 3px;
    width: 24px;
}
