/* Related Article Node
-------------------------------------------------------------------------------*/

.related-articles {
    border: 1px solid #4f759c;
    background: #e3eaf1;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.mobile .related-articles {
    margin-top: 10px;
}

.related-articles .heading {
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.related-articles .heading i {
    font-size: 0.9em;
}

.related-articles .article-info {
    font-size: 0.9em;
    margin-top: 0.5em;
}

.related-articles .article-info > * {
    margin-top: 3px;
}

.related-articles .article-info .article-title > a,
.related-articles .article-info .article-subtitle > a {
    font-weight: 700;
}

.related-articles .article-info .article-citations {
    display: flex;
    align-items: start;
}

.related-articles a {
    text-decoration: none;
    color: blue;
}

.related-articles .article-citations > img {
    margin-right: 3px;
    width: 24px;
}

.text-with-ellipsis {
	line-height: 25px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-with-ellipsis.one-line {
	max-height: 25px;
	-webkit-line-clamp: 1;
}
